body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}

.background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none; 
    background-color: black;
}

#background-video-web,
#background-video-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    transition: opacity 5s ease;
}

@media (min-width: 769px) {
    .background-video-container.web {
        display: block;
    }
}

@media (max-width: 768px) {
    .background-video-container.mobile {
        display: block;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
}

.logo {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

a {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-origin: center center;
            transform-origin: center center;
}


@media (max-width: 768px) {
    a {
        width: 150px;
        height: 50px;
        top: 120%;
    }
}

span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.5);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
}

@media (max-width: 768px) {
    span {
        line-height: 50px;
        font-size: 18px;
    }
}


span.front {
    -webkit-transform: rotateX(0deg) translateZ(20px);
            transform: rotateX(0deg) translateZ(20px);
}

a:hover span.front {
    -webkit-transform: rotateX(-180deg) translateZ(20px);
            transform: rotateX(-180deg) translateZ(20px);
}

span.back {
    background: url('lostmemory-alb-line.png') no-repeat center center;
    background-size: cover;
    -webkit-transform: rotateX(180deg) translateZ(20px);
            transform: rotateX(180deg) translateZ(20px);
}

a:hover span.back {
    -webkit-transform: rotateX(0deg) translateZ(20px);
            transform: rotateX(0deg) translateZ(20px);
}

span.center {
    background: linear-gradient(to left, #000000, #ff0000);
}

span.center:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #000000, #ff0000);
    border-radius: 30px;
    -webkit-transform: translateZ(-1px);
            transform: translateZ(-1px);
}

a:hover span.center {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
}
